* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 10vh 80vh 10vh;
}

main {
    grid-area: 2/2/3/3;
    background-color: black;
    /*width: 50vw;*/
    /*height: 80vh;*/
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.tile {
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
    cursor: pointer;
}

.tile:not(.occupied):hover {
    background-color: aqua;
}

.occupied {
    cursor: not-allowed;
}

.end-screen {
    grid-area: 2/2/3/3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
}

.end-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: crimson;
    font-size: 10vh;
}

.reset-btn{
    color: white;
    font-size: 5vh;
    background-color: #1a61a1;
    border: none;
}

.hidden{
    display: none;
}